<nav>
  <a href="#">Karrara Comex</a>
  <div id="navbarNav">
    <a href="userScreenTransport" routerLink="/userScreenTransport">Transport</a>
    <a href="#" routerLink="/userScreen">FUP Operation</a>
    <a mat-button [matMenuTriggerFor]="menu">Config</a>
    <mat-menu #menu="matMenu" class="mat-menu-content">
      <nav>
        <a href="atualiza" routerLink="/atualiza">Update</a>
      </nav>
      <nav>
        <a href="contratos" routerLink="/contratos">Liners Contract</a>
      </nav>
      <nav>
        <a href="contratos" routerLink="/contratos">Harbor Contract</a>
      </nav>
      <nav>
        <a href="contratos" routerLink="/contratos">EADI Contract</a>
      </nav>
      <nav>
        <a href="contratos" routerLink="/contratos">Transport Contract</a>
      </nav>


    </mat-menu>








  </div>

</nav>
