
<div class="container">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="brand-title">Add / Change Contract</div>


</nav>
<form>
  <table class="table table-dark">
    <tr>
      <td><label>Place</label></td>
      <td><label>Address</label></td>
      <td><label>Contact (mail)</label></td>

    </tr>
    <tr>
      <td><input type="string" name="local" [(ngModel)]="data.item.local"></td>
      <td><input type="string" name="endereco" [(ngModel)]="data.item.endereco"></td>
      <td><input type="string" name="contato" [(ngModel)]="data.item.contato"></td>

    </tr>

  </table>

  <div>
    <button class="btn btn-primary" type="button" (click)="salvar()">Save</button>

    <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>

  </div>




</form>
</div>

