<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="brand-title">Add / Change Carriers</div>
  </nav>
  <form [formGroup]="formGroup">
    <table class="table table-dark">
      <tr>
        <td><label>Carrier Name</label></td>
        <td><label>e-mail</label></td>
        <td><label>Address</label></td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" formControlName="name">
          <div *ngIf="formGroup?.get('name')?.invalid && formGroup?.get('name')?.touched">
            <small class="text-danger" *ngIf="formGroup?.get('name')?.hasError('required')">Required</small>
          </div>
        </td>
        <td>
          <input type="text" name="contato" formControlName="contato">
          <div *ngIf="formGroup?.get('contato')?.invalid && formGroup?.get('contato')?.touched">
            <small class="text-danger" *ngIf="formGroup?.get('contato')?.hasError('required')">Required</small>
            <small class="text-danger" *ngIf="formGroup?.get('contato')?.hasError('email')">Invalid email</small>
          </div>
        </td>
        <td>
          <input type="text" name="endereco" formControlName="endereco">
          <div *ngIf="formGroup?.get('endereco')?.invalid && formGroup?.get('endereco')?.touched">
            <small class="text-danger" *ngIf="formGroup?.get('endereco')?.hasError('required')">Required</small>
          </div>
        </td>
      </tr>
    </table>
    <div>
      <button class="btn btn-primary" type="button" (click)="salvar()">Save</button>
      <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
