<ul>
  <button mat-button (click)="openDialog()">Inserir item de Contrato</button>


  <div *ngFor="let item of items$ | async">
    <h2>{{ item.comentario }}</h2>
    <p>First period: {{ item.fsperiod }}</p>
    <p>Second period: {{ item.scperiod }}</p>
    <p>Liner: {{ item.liner }}</p>
    <p>Free time: {{ item.freetime }}</p>
    <p>Trip cost: {{ item.tripcost }}</p>
    <p>Latest greeting time: {{ item.LatestGreetingTime }}</p>
    <p>ID: {{ item.ID }}</p>
    <p>Third period: {{ item.tdperiod }}</p>
  </div>

</ul>
