<ul>
  <button mat-button (click)="openDialog()">Inserir item de Contrato</button>
  <input type="number" name="ID" [(ngModel)]="ID">
  <input type="string" name="liner" [(ngModel)]="liner">
  <input type="number" name="tripcost" [(ngModel)]="tripcost">
  <input type="number" name="freetime" [(ngModel)]="freetime">
  <input type="number" name="fsperiod" [(ngModel)]="fsperiod">
  <input type="number" name="scperiod" [(ngModel)]="scperiod">
  <input type="number" name="tdperiod" [(ngModel)]="tdperiod">
  <input type="string" name="comentario" [(ngModel)]="comentario">
  <button (click)="callAPI()">Enviar</button>
  <li *ngFor="let food of foods">
    <a>
      <img src="{{food.imageUrl}}" alt="">
      <div class="content">
        <div class="name">
          {{food.name}}
        </div>
        <span class="favorite {{food.favorite?'':'not'}">
          🧡
        </span>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">
              {{origin}}

            </span>
          </div>
        </div>

      </div>
    </a>

  </li>
</ul>
